<div class="container">
    <div class="row">
        <div class="col-md-6">

            <h2> <br> Happy &amp; Excited About xTantransh</h2>
                    <p> We, xTantransh belives in Coming together is a Begining; Keeping together is a Progress; Working together is Success. There are no secrets to success. It is the result of preparation, hard work and learning from failure.&nbsp;</p>
                    <p>xTantransh develops cross-platform Mobile Apps. Well-made cross-platform mobile app will carry the advantage that users on more than one platform have access to your product or service.</p>
                  <br>         
           <blockquote>
                "It's fine to celebrate success but it is more important to heed the lessons of failure."
                <p> &nbsp; &nbsp; &nbsp; &nbsp;  - xTantransh</p>
            </blockquote>
        </div> 
        
        <div class="col-md-6">
            <!-- Display image -->
            <img src="assets/xtantransh.jpg" class="img-responsive">
        </div> 
    </div> 
  </div>