<!-- <div class="header"> -->
        <div class="container">
            <!--logo-->
            

         
                
<div class="navbar navbar-default navbar-fixed-top">
         <div class="logo">
                <h3><a href="index.html">xTantransh</a></h3>
            </div>

        <ul class="right-icons a">
            <li><span ><i class="glyphicon glyphicon-phone"> </i>+1384 757 546</span></li>
            <li><a  href="login.html"><i class="glyphicon glyphicon-user"> </i>Login</a></li>
            <li><a class="play-icon popup-with-zoom-anim" href="#small-dialog"><i class="glyphicon glyphicon-search"> </i> </a></li>
            
        </ul>
         
 </div>
  </div>
<!-- </div> -->