<div class="content-bottom">
    <div class="container">
      <h3>Testimonials</h3>
        <div class="col-md-6 name-in">
          <div class=" bottom-in">
            <p class="para-in">Duis aute irure dolor in reprehenderit in voluptate
            velit esse cillum dolore eu fugiat nulla pariatur.</p>
              <i class="dolor"> </i>
            <div class="men-grid">
                <img src="assets/images/stev.jpeg" style="hight:10px;width:100px;" class="img-responsive img-circle tm-border" alt="templatemo easy profile">
                
              <!-- <a href="#" class="men-top"><img class="img-responsive men-top" src="images/te.jpg" alt=""></a> -->
              <div class="men">
              <span>Stev Jobs</span>
              <p>Ut enim ad minim</p>
            </div>
            <div class="clearfix"> </div>
          </div>
        </div>
          <div class=" bottom-in">
            <p class="para-in">Duis aute irure dolor in reprehenderit in voluptate
            velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <i class="dolor"> </i>
            <div class="men-grid">
                <img src="assets/images/stev.jpeg" style="hight:150px;width:150px;" class="img-responsive img-circle tm-border" alt="templatemo easy profile">
                
              <!-- <a href="#" class="men-top"><img class="img-responsive " src="images/te2.jpg" alt=""></a> -->
              <div class="men">
                <span>Stev Jobs</span>
                <p>Ut enim ad minim</p>
              </div>
              <div class="clearfix"> </div>
            </div>
          </div>
        </div>
        <div class="col-md-6  name-on">
          <div class="bottom-in ">
            <p class="para-in">Duis aute irure dolor in reprehenderit in voluptate
            velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <i class="dolor"> </i>
            <div class="men-grid">
                <img src="assets/images/stev.jpeg" style="hight:150px;width:150px;" class="img-responsive img-circle tm-border" alt="templatemo easy profile">
                
              <!-- <a href="#" class="men-top"><img class="img-responsive " src="../../assets/images/stev.jpeg" alt=""></a> -->
              <div class="men">
                <span>Stev Jobs</span>
                <p>Ut enim ad minim</p>
              </div>
              <div class="clearfix"> </div>
            </div>
          </div>
        </div>
        <div class="clearfix"> </div>
    </div>
  </div>		